.DS_Store
.cache/*
tutorial/*
tutorial
.#README.org
auto-save-list
elpa
eshell
profile-dotemacs.el
projectile-bookmarks.eld
recentf
semanticdb
README.el
PRIVATE.el
PRIVATE.org
tramp
custom.el
./custom.el
url
.*data
*~
projectile.cache
projectile-bookmarks.eld
network-security.data
ac-comphist.dat
